@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

/* .box {
    position: relative;
    padding: 25px;
    border-radius: 28px;
    background-color: white;
    max-width: 380px;
    width: 100%;
} */
.box {
    position: relative;
    background-color: #fff;
    padding: 25px;
    background-image: url('bg.png');
    border-radius: 28px;
    max-width: 380px;
    width: 100%;
}

h5 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

header,
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

h6 {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

.logo img {
    width: 48px;
    margin-right: 10px;
}

header .chip {
    width: 60px;
}

.box .carddetails {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h5.number {
    margin-top: 4px;
    font-size: 18px;
    letter-spacing: 1px;
}

h5.name {
    margin-top: 20px;
}